/* Global Styles */

body {

  margin: 0;

  padding: 0;

  font-family: Arial, sans-serif;

  background-color: #f2f2f2;

  color: #333;

}

/* Navigation Bar */

#navbar {

  display: flex;

  justify-content: space-evenly;

  background-image: url(Flag-Ukraine.webp);

  background-size: contain;

  padding: 10px;

}

#navbar a {

  font-family: Arial, Helvetica, sans-serif;

  font-size: 30px;

  text-decoration: none;

  color: greenyellow;

  text-shadow: white 1px 2px;

}

#navbar a:hover {

  color: white;

}

/* Banner */

.banner {

  width: 100%;

  height: auto;

}

/* Card Grid */

.grid {

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  gap: 20px;

  padding: 20px;

}

.card {

  background-color: #fff;

  border-radius: 8px;

  padding: 20px;

}

.band-info {

  position: relative;

}

.band-info img {

  max-width: 100%;

  height: auto;

}

.country-overlay {

  position: absolute;

  top: 10px;

  left: 10px;

  background-color: rgba(0, 0, 0, 0.5);

  color: #fff;

  padding: 5px 10px;

  border-radius: 4px;

}

.country {

  margin: 0;

  font-size: 18px;

}

.overlay {

  margin-top: 20px;

}

.band-name-hidden,

.song-title-hidden,

.band-profile-hidden {

  display: none;

}

 
  
    
